/*

        Creating a sprite from following images:
        
        source/images/sprites/icons/github.png (64x64)
        source/images/sprites/icons/linkedin.png (64x64)
        source/images/sprites/icons/stackoverflow.png (64x64)
        source/images/sprites/icons/twitter.png (64x64)

        Output files:
          source/images/sprites/icons.png
          source/stylesheets/sprites/icons.css.scss

        Output size:
          256x64


*/
.icon.github { width: 64px; height: 64px; background: url(/images/sprites/icons.png) 0px 0px no-repeat; }
.icon.linkedin { width: 64px; height: 64px; background: url(/images/sprites/icons.png) -64px 0px no-repeat; }
.icon.stackoverflow { width: 64px; height: 64px; background: url(/images/sprites/icons.png) -128px 0px no-repeat; }
.icon.twitter { width: 64px; height: 64px; background: url(/images/sprites/icons.png) -192px 0px no-repeat; }
