// Import Base Styles
@import "base/normalize";
// @import "base/all_your";

// Import Layout Styles
// @import "layout/grid";

// Import Module Styles
// @import "modules/buttons";

// Import State Styles
// @import "states/validation";

// Import Sprite Styles
@import "sprites/icons";


.icon {
  display: inline-block;
  // hide the text
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
