!!! 5
%html
  %head
    %title Iain Beeston
    %meta{:charset => "utf-8"}
    %meta{:content => "on", "http-equiv" => "cleartype"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, maximum-scale=0.5", :name => "viewport"}
    %link{:href => "https://secure.gravatar.com/avatar/4ec7cb42339aacafc17395000e2c97d4.png?size=32", :rel => "icon", :type => "image/png"}
    =stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato"
    =stylesheet_link_tag "style.css"

    /[if lt IE 9]
      =javascript_include_tag "html5shiv.js"

  %body
    .l-main.m-background-image#main
      %article.l-article.m-white-panel
        = yield
