!!! 5
%html
  %head
    %title Iain Beeston
    %meta{:charset => "utf-8"}
    %meta{:content => "on", "http-equiv" => "cleartype"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, maximum-scale=0.5", :name => "viewport"}
    %link{:href =>"http://fonts.googleapis.com/css?family=Lato", :rel => "stylesheet"}
    %link{:href => "stylesheets/style.css", :rel => "stylesheet"}

    /[if lt IE 9]
      %script{:src => "javascripts/html5shiv.js"}

  %body
    .l-main.m-background-image#main
      %article.l-article.m-white-panel
        = yield
