.l-description {
  padding: 0 $article-contents-padding;
  margin-left: $avatar-width;
  margin-right: $icon-width;
  @media #{$bp-mobile} {
    margin-left: 0;
    margin-right: 0;
    margin-top: $avatar-width;
    padding: 0;
  }
}
