.l-icons {
  list-style: none inside;
  padding: 0px;
  margin: 0px;
  > * {
    padding: $icon-padding;
    height: $icon-width;
    width: $icon-width;
    @media #{$bp-mobile} {
      display: inline-block;
      height: $mobile-icon-width;
      width: $mobile-icon-width;
    }
  }
}
