.l-description {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 $article-contents-padding;
  margin-right: $icon-width;
  @include breakpoint($bp-mobile) {
    margin: 0;
    padding: 0;
    min-width: round($mobile-avatar-width*2/3);
  }
}