.l-description {
  overflow-y: auto;
  margin: 0 $icon-box-width 0 $avatar-width;
  padding: 0 20px;
  @include breakpoint($bp-mobile) {
    margin: 0 0 0 $mobile-avatar-width;
    padding-right: 0;
  }
}