.l-links {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: absolute;
  top: $article-padding;
  right: $article-padding;
  @include breakpoint($bp-mobile) {
    top: $mobile-avatar-width + $article-padding + $article-contents-padding;
    right: auto;
    left: $article-padding;
  }
}