.l-article {
  $opacity: 0.75;
  position: fixed;
  bottom: 0px;
  padding: 20px;
  background-color: white;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + ($opacity*100) + ")";
  filter: alpha(opacity=($opacity*100));
  opacity: $opacity;
  @include breakpoint($breakpoint-small) {
    height: 100%;
  }
  @include breakpoint($breakpoint-large) {
    height: 38%;
  }
}