.icon {
  height: $icon-width;
  width: $icon-width;
  background-size: ($icon-width*$icon-count) $icon-width;
  background-repeat: no-repeat;
  background-image: url($icons);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=$url, sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=$url, sizingMethod='scale')";

  &.github {
    background-position: ($icon-width * 0) 0px;
  }

  &.linkedin {
    background-position: ($icon-width * -1) 0px;
  }

  &.stackoverflow {
    background-position: ($icon-width * -2) 0px;
  }

  &.twitter {
    background-position: ($icon-width * -3) 0px;
  }
}