.icon-container {
  display: inline-block;
  position: relative;
  height: $icon-width;
  width: $icon-width;
  overflow: hidden;
  .icon {
    position: absolute;
    height: $icon-width;
    width: ($icon-width*$icon-count);
    top: 0px;

    &.github {
      left: ($icon-width * 0)
    }

    &.linkedin {
      left: ($icon-width * -1);
    }

    &.stackoverflow {
      left: ($icon-width * -2);
    }

    &.twitter {
      left: ($icon-width * -3);
    }
  }
}