body {
  font-family: 'Lato', sans-serif;
}

p {
  font-size: 20px;
  line-height: 32px;
}

h1 {
  font-size: 32px;
  line-height: 52px;
}

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0px;
  padding: 0px;
}
