$breakpoint-small: (max-width 640px);
$icons-path: '/images/sprites/icons.png';
$icon-width: 32px;
$icon-margin: 2px;
$icon-box-width: $icon-width + ($icon-margin * 2);
$icon-count: 4;
$avatar-width: $icon-box-width * $icon-count;

