<!DOCTYPE html>
<html>
  <head>
    <title>Iain Beeston</title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="Software engineer. Makes web-apps using Ruby and JavaScript." name="description"/>
    <meta content="profile" property="og:type"/>
    <meta content="https://secure.gravatar.com/avatar/4ec7cb42339aacafc17395000e2c97d4.png?size=630" property="og:image"/>
    <link href="https://secure.gravatar.com/avatar/4ec7cb42339aacafc17395000e2c97d4.png?size=32" rel="icon" type="image/png"></link>
    <link href="/css/style.css" media="screen" rel="stylesheet">
  </head>
  <body>
    <div class="l-main m-background-image" id="main">
      <article class="l-article m-white-panel" itemscope itemtype="http://schema.org/Person">
        {{ content }}
      </article>
    </div>
  </body>
</html>
