%header.l-avatar
  .m-avatar-image

%footer.l-links
  %ul.m-icons
    %li= link_to image_tag("sprites/icons.png", alt: "LinkedIn", class: "icon linkedin"), "http://www.linkedin.com/in/iainbeeston/", target: "_blank", class: "icon-container"
    %li= link_to image_tag("sprites/icons.png", alt: "Twitter", class: "icon twitter"), "http://twitter.com/iainbeeston/", target: "_blank", class: "icon-container"
    %li= link_to image_tag("sprites/icons.png", alt: "Stack Overflow", class: "icon stackoverflow"), "http://stackoverflow.com/users/344660/", target: "_blank", class: "icon-container"
    %li= link_to image_tag("sprites/icons.png", alt: "GitHub", class: "icon github"), "http://github.com/iainbeeston/", target: "_blank", class: "icon-container"

%section.l-description
  %h1 Iain Beeston
  %p is a software engineer who specialises in Ruby and Javascript, and believes that craftsmanship is important in software development. During the day Iain works as a Ruby Developer for We Are Brand New. He also contributes to a variety of open-source projects when he has time.

