%header.l-avatar
  .m-avatar-image

%footer.l-links
  %ul.m-icons
    %li= link_to image_tag("sprites/icons.png", alt: "LinkedIn", class: "icon linkedin"), "http://www.linkedin.com/in/iainbeeston/", target: "_blank", class: "icon-container"
    %li= link_to image_tag("sprites/icons.png", alt: "Twitter", class: "icon twitter"), "http://twitter.com/iainbeeston/", target: "_blank", class: "icon-container"
    %li= link_to image_tag("sprites/icons.png", alt: "Stack Overflow", class: "icon stackoverflow"), "http://stackoverflow.com/users/344660/", target: "_blank", class: "icon-container"
    %li= link_to image_tag("sprites/icons.png", alt: "GitHub", class: "icon github"), "http://github.com/iainbeeston/", target: "_blank", class: "icon-container"

%section.l-description
  %header.m-header
    %h1 Iain Beeston
    %h3.subheader (Software Engineer)
  %p
    Makes web-apps using Ruby and JavaScript. Works as a developer for We Are Brand New. Contributes to a variety of open-source software.

