.m-icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .icon-background {
    position: absolute;
    height: 100%;
    width: 100% * $icon-count;
    top: 0px;

    &.github {
      left: (100% * 0)
    }

    &.linkedin {
      left: (100% * -1);
    }

    &.stackoverflow {
      left: (100% * -2);
    }

    &.twitter {
      left: (100% * -3);
    }
  }
}