.m-header {
  > * {
    display: inline;
    white-space: nowrap;
  }

  .subheader {
    text-transform: lowercase;
    &::before {
      content: "(";
    }
    &::after {
      content: ")";
    }
  }
}