ul {
  padding: 0px;
  margin: 0px;
}

.m-icons {
  list-style: none;
  .icon {
    margin: 1px;
    display: inline-block;
    color: transparent;
    white-space: nowrap;
    overflow: hidden;
  }
}

