ul {
  padding: 0px;
  margin: 0px;
}

.m-icons {
  list-style: none;
  .icon {
    margin: 1px;
  }
}

.icon {
  display: inline-block;
  // hide the text
  color: transparent;
  white-space: nowrap;
  overflow: hidden;
}
